html{
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?cityscape');
}

.card {
    background: #000000d0;
    color:white;
    padding: 2rem;
    border-radius: 3rem;
    width: 100%;
    max-width: 42rem;
    margin: 1rem;
}

h1.temp{
    margin:0;
    margin-bottom:0.4rem;
}
.search{
    display:flex;
    align-items:center;
    justify-content: center;
}
button {
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    outline: none;
    cursor: pointer;
    background:#7c7c7c8f;
    
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 1.8rem;
    font-family: inherit;
    background:#7c7c7c8f;
    color:white;
    width:30rem;
}


.flex{
    display: flex;
    align-items: center;
}
.description {
    text-transform: capitalize;
}

.weather.loading{
    visibility:hidden;
    max-height:2rem;
    position:relative;
}
 
.weather.loading:after {
    visibility:visible;
    content: "loading...";
    color:white;
    position:absolute;
    top:0;

}